// Form Input File
// --------------------------------------------------
.field-widget-image-image {
  .image-widget-data {
    padding:  5px;
    border: 1px solid #EAEAEA;
  }
  .description {
    display: none;
  }
  .label-description {
    display: block;
  }
}