.node-score.view-mode-teaser  {
	.field-name-field-challenge-reference {
		float: right;
    	padding: 20px;
    	border: 1px solid #CCC;
    	width: 300px;
	}
	.group-rank-and-score {
		border: 1px solid #CCC;
		padding: 20px;
		float: left;
	}
	.field-name-field-rank {
		float: left;
		margin-right: 10px;
	}
 	.field-name-field-score {
 		float: left;
 		margin-right: 10px;
	}
	.group-author-and-date {
		border: 1px solid #CCC;
		padding: 20px;
		float: left;
	}
	.field-name-author {
		float: left;
		margin-right: 10px;
	}
	.field-name-post-date {
		float: left;
		margin-right: 10px;
	}
	.field-name-node-link {
		float: right;
		margin-right: 10px;
	}
	.field-name-field-challenge-tag {
		float: right;
		margin-right: 10px;
	}
}

